.my-grid {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 100px;
    margin: 50px;
    color: white;

}
.header-layout {
    display: grid;
    grid-template-columns: max-content;
    justify-content: space-between;

}
img {
    margin: auto;
    width: 200px;
    height: 200px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, .4);
}

.footer-layout {
    display: inline-grid;
    margin-top: 100px;

}
.background-props {
background-image: linear-gradient(rgba(50, 0, 255, .75), rgba(255, 0, 50, .75));
}
a:hover {
    color: red;
}
a:visited {
    color:aquamarine;
}

:any-link {
    color: rgb(72, 215, 29);
}

.body-layout {
    display: block;
    text-align: center;
    width:fit-content;
    height:fit-content;
}
.center {
    width: 400px;
    height: 400px;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.header-background {
    background-color: rgba(143, 155, 248, 0.411);
}
