{% extends 'base.html' %}
{% block title %}
{{ recipe_object.title }} -
Scrumptious Recipes
{% endblock title %}

{% block content %}
  <header>
    <nav>
      <a href="{% url 'recipe_list' %}" style="text-decoration: none;">Main Page</a>
    </nav>
  </header>
  <main>
    <h1>Create {{ recipe_object.title }}</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
      </form>
  </main>
{% endblock content %}
