{% extends 'base.html' %}
{% block title %}
{{ recipe_object.title }} -
Scrumptious Recipes
{% endblock title %}

{% block content %}
  <header>
    <nav>
      <a href="{% url 'recipe_list' %}" style="text-decoration: none;"> | Main Page | </a>
      {% if user.is_authenticated %}
      <a href="{% url 'create_recipe' %}" style="text-decoration: none;"> | Create Recipe | </a>
      <a href="{% url 'edit_recipe' recipe_object.id %}" style="text-decoration: none;"> | Edit Recipe | </a>
      {% else %}
            <a href="{% url 'user_login' %}" style="text-decoration: none;"> | Login or Sign Up to Create/Edit | </a>
      {% endif %}
    </nav>
  </header>
  <main>
    <h1>{{ recipe_object.title }}</h1>
    <h2>All the food that's fit to eat</h2>
    <div>
        <div>
        <h3>
            <a href="detail.html" style="text-decoration: none;">Order Now</a>
        </h3>
        <img src="{{ recipe_object.picture }}">
        <div>4.3 stars</div>
        <p>{{ recipe_object.description }}</p>
        <table class="ingredients-table">
          <thread>
            <tr>
              <th>Amount</th>
              <th>Food Item</th>
            </tr>
          </thread>
          <tbody>
            {% for ingredient in recipe_object.ingredients.all %}
            <tr>
              <td>{{ ingredient.amount }}</td>
              <td>{{ ingredient.food_item }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <ol>
          {% for step in recipe_object.steps.all %}
            <li>{{ step.instruction }}</li>
          {% endfor %}
        </ol>
        </div>
    </div>
  </main>
  {% endblock content %}
