{% extends 'base.html' %}

{% block title %}
  Scrumptious recipes
{% endblock title %}

{% block content %}
    <header>
      <nav>
        {% if user.is_authenticated %}
        Hello, {{ user.username }}
        <a href="{% url 'create_recipe' %}" style="text-decoration: none;"> | Create Recipe | </a>
        <a href="{% url 'my_recipe_list' %}" style="text-decoration: none;"> | My recipes | </a>
        <a href="{% url 'user_logout' %}" style="text-decoration: none;"> | Logout | </a>
        {% else %}
        <a href="{% url 'recipe_list' %}" style="text-decoration: none;"> | Main page | </a>
          <a href="{% url 'user_login' %}" style="text-decoration: none;"> | Login or Sign Up Here |</a>
          {% endif %}
      </nav>
    </header>
    <main>
      <h1>Scrumptious Recipes</h1>
      <h2>All the food that's fit to eat</h2>
      <div>
        {% for recipe in recipe_list %}
        <div>
          <h3>
            <a href="{% url 'show_recipe' recipe.id %}" style="text-decoration: none;">{{ recipe.title }}</a>
          </h3>
          <div>
            <p>{{ recipe.created_on|date:"F/d/Y" }}</p>
          </div>
          <img src="{{ recipe.picture }}" class="img">
          <div>4.3 stars</div>
        </div>
        {% endfor %}
      </div>
    </main>
{% endblock content %}
