.grid-container {
    display: grid;
    gap: 50px 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 100px;
    background-image: linear-gradient(rgba(50, 0, 255, .75), rgba(255, 0, 50, .75));



}
